{% extends "todo/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">

    <article class="col-12  col-md-7 todo-article">
        <header class="">
            <img src="{{ todo_list.author.profile.image.url }}">
            <div>
                <h2>{{todo_list}}</h2>
                <span>{{ todo_list.author }}</span>
                <span>{{ todo_list.created |date:" d E Y" }}</span>
            </div>

        </header>

        <form method="post"
              action="{% url 'todo:todo-add' todolist_pk=todo_list.pk %}"
              class="edit_form">
            {% csrf_token %}
            {{ form | crispy}}
            <button class="btn btn-outline-success" type="submit">
                Dodaj
            </button>
            <a href="{% url 'todo:todo_delete_completed' todolist_pk=todo_list.pk %}"
               class="btn btn-outline-danger"
               role="button">
                Usuń ukończone
            </a>
        </form>

        <ul class="todo_edit-list">
        {% for do in todo_list.todo_set.all %}
            <li class="todo_edit-item">
                <p class="">{{ do.text }}
                    {% if do.complete %}
                     - Zrobione
                    {% endif %} </p>
                <span>
                    <a href="{% url 'todo:todo-complete' todo_pk=do.pk %}"
                       class="btn btn-outline-info"
                       role="button">
                        {% if do.complete %}
                            ODKOŃCZ
                        {% else %}
                            UKOŃCZ
                        {% endif %}

                    </a>
                    <a href="{% url 'todo:todo-delete' todo_pk=do.pk %}"
                       class="btn btn-outline-danger"
                       role="button">
                        DELETE
                    </a>

                </span>
            </li>
        {% endfor %}
        </ul>

    </article>

    {% if todo_list.author == user %}
        <h1>Hura mamy to chuju !!!</h1>
    {% endif %}
</div>

{% endblock content %}